@charset "utf-8";


*{
	font-family: Malgun Gothic;
}
/* board-container */
div{
	box-sizing: border-box;
}
.board-area{
	position: relative;
	padding: 15px;
	padding-left: 368px;
	color: white;
}
.board-area > img{
	position: absolute;
	height: 220px;
	z-index: -1;
	top: 0;
	left: 0;
}
.board-title {
	font-size: 50px;
	padding-top: 30px;
	margin-bottom: 0;
}
.board-ul {
	display: flex;
	list-style: none;
	font-size: 16px;
	padding: 30px;
	padding-left: 0;
	color: #292929;
	font-weight: 500;
}
.board-ul li {
	margin: 7px;
	color : white;
}
.board-ul  li:nth-child(2n) {
	color: #f5bd43;
}
.board-list {
	width: 1170px;
	margin: 0 auto;
	font-weight: bold;
}
.board-list div {
/* 	border: 1px solid white; */
	color: #292929;
	font-weight: 500;
}
.board-list-title {
	display: flex;
	margin-bottom: 40px;	
}
.board-total {
	line-height: 50px;
	padding-right: 535px;
}
.board-search {
	padding-right: 0;
	height: 50px;
	justify-content: center;
}
.board-search input {
	width: 300px;
	height: 50px;
	padding: 0 28px;
	border-radius: 70px;
	font-size: 16px;
}
.board-notice-list {
	display: flex;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom:  1px solid #808080;
}
.board-notice-icon {
	padding-right: 60px;
}
.board-notice-title {
	width: 900px;
}
.board-notice-date {
	width: 150px;
	text-align: center;
}
.board-post-list {
	display: flex;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #292929;
	font-weight: 500;
	border-bottom: 1px solid #808080;
}
.board-post-number {
	padding-right: 65px;
	width: 10px;
}
.board-post-title {
	width: 900px;
}
.board-post-date {
	width: 150px;
	text-align: center;
}
.board-list-main {
	background-color: #f8f8f8;
	border-bottom: 2px solid #808080;
	border-top: 2px solid #808080;
	
}

/* 성훈 추가  */
.border-zero {
    border: 0;
}
.newswrite-form {
	margin: 0 auto;
	width: 1200px;
	margin-top: 10px;
}
.newswrite-submit {
	width: 90px;
	height: 40px;
	background-color: #ff0000;
	border: 0;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
}

/* 2022-01-20 추가 */

.detail-news{
	display: flex;
	width : 1200px;
	border : 0px solid black;
	margin : auto;
}

.detail-header{
	display: flex;
	width : 1200px;
	border : 0px solid black;
	margin : auto;
	justify-content: space-between;
}
.detail-header > .detail-num {
	display : flex;
	width : 175px;
	margin-right: 0;
	border : 0px solid black;
}
.detail-header > div{
	margin-right : 10px;
}
.detail-header > .detail-title{
	font-weight: bold;
	font-size: 20px;
}
.detail-header > .detail-num > .detail-regDate, .detail-cnt{
	color : darkgrey;
	font-weight: bold;
	font-size: 20px;
}
.detail-header > .detail-regDate > span{
	color : black;
}

.detail-hr{
	width : 1200px;
	height : 5px;
	background-color : black;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
}
.detail-hr1 {
	width : 1200px;
	background-color : #dadada;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
}
.detail-content{
	width : 1200px;
	border: 1px solid black;
	margin : auto;
	text-align: center;
	margin-bottom: 30px;
}
.btn-list1{
	width : 1200px;
	border : 0px solid black;
	margin : auto;
	display: flex;
	justify-content: space-between;
}
.btn-list1 > .prev-btn{
	width: 70px;
    height: 70px;
    border: 0;
	cursor: pointer;
	background: url("https://www.mcdonalds.co.kr/kor/images/common/btn_bbs_prev.png") no-repeat;
}
.btn-list1 > .next-btn{
	width: 70px;
    height: 70px;
	border: 0;
	cursor: pointer;
	background: url("https://www.mcdonalds.co.kr/kor/images/common/btn_bbs_prev.png") no-repeat;
	transform: rotate(180deg);
}

.btn-list1 > a > .news-list-btn{
	width : 150px;
	height: 70px;
	border : 0;
	background-color: #ffbc0d;
	border-radius: 35px;
	font-size: 20px;
	font-weight: bold;
	color : white;
	border : 0px solid black;
	cursor: pointer;
}

/* 2022-01-22 추가 */
.news-paging{
	width : 400px;
	border: 1px solid white;
	margin : auto;
	margin-top : 20px;
	margin-left : 825px;
}
.news-current-btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    vertical-align: top;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
}

.news-prev-btn, .news-next-btn{
	display: inline-block;
    width: 50px;
    height: 40px;
    margin: 0 3px;
    vertical-align: top;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
}
.news-prev-btn, .news-next-btn, .news-current-btn:hover{
	color : darkgrey;
	cursor: pointer;
}
.bold{
	color : #f5bd43;
	padding-top: 2px;
    line-height: 36px;
    font-weight: bold;
}

/* 2022-01-23 추가  */

#onOffBox {
    position: absolute;
    visibility: hidden;
}

#boxLabel {
    display: block;
    position: absolute;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ddd;
    transition-duration: 0.2s;
    margin-left: -80px;
}

#boxLabel span {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition-duration: 0.2s;
}

#boxLabel:before,
#boxLabel:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
}

#boxLabel:before {
    left: 0;
    content: 'ON';
}

#boxLabel:after {
    right: 0;
    content: 'OFF';
}

input[name="onOff"]:checked + #boxLabel {
    background-color: #00c73c;
}

input[name="onOff"]:checked + #boxLabel span {
    transform: translateX(26px);
}

.QnA-top{
	width : 1200px;
	height: 50px;
	border : 0px solid black;
	margin : auto;
	display: flex;
	justify-content: space-between;
}

.QnA-top > .QnA-top-left{
	display: flex;
}

.QnA-top > .QnA-top-left > div > a > .QnA-write{
	border : 0;
	background-color: #ffbc0d;
	color : white;
	width : 120px;
	height: 40px;
	border-radius: 20px;
	margin-right : 10px;
	cursor: pointer;
}

.QnA-top > .QnA-top-left > div > .QnA-search{
	border : 0;
	background-color: #264a36;
	color : white;
	width : 120px;
	height:  40px;
	border-radius: 20px;
	cursor: pointer;
}

.QnA-top > .QnA-top-right{
	display: flex;
}
.QnA-top > .QnA-top-right > .QnA-onOff-check{
	position: absolute;
	margin-left : -200px;
	padding-top : 5px;
}

.QnA-top > .QnA-top-right > .QnA-onOff{
	margin-left : -30px;
}

.QnA-result{
	width : 210px;
	border : 0px solid black;
}

.QnA-result > form > select{
	border : 1px solid #dadada;
	width : 110px;
	height : 40px; 
	padding: 10px;
	border-radius: 25px;
}

.QnA-result > select > option{
	padding : 5px;
	margin-bottom: 5px;
	border-radius: 10px;
}

.QnA-result > form > .result-search{
	border : 0;
	background-color: #ffbc0d;
	width : 80px;
	height: 40px;
	margin-left : 10px;
	border-radius: 25px;
	cursor: pointer;
	color: white;
}

.QnA-content-left{
	display: flex;
	width : 1200px;
	border : 0px solid black;
	margin : auto;
	padding-top : 5px;
	margin-top : 20px;
	border-top : 1px solid black;
	border-bottom: 1px solid #dadada;
}
.QnA-content-left > .QnA-content-result{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-title{
	width : 600px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-writer{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-regDate{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
}

/* 2022-01-24 추가  */

.QnA-write-form{
	width : 740px;
	height : 400px;
	border : 0px solid black;
	margin : auto;
}

.QnA-write-form > form > .QnA-write-top{
	width : 690px;
	border : 0px solid black;
	marign : auto;
	margin-left : 21px;
}

.QnA-write-form > form > .QnA-write-top >  .QnA-write-title{
	width : 556px;
	height: 40px;
	border : 0;
	border-bottom: 1px solid #dadada;
	margin-left: 5px;
}
.QnA-write-form > form  > .QnA-write-top > .QnA-write-title:focus{
	outline : none;
}

.QnA-write-form > form > .QnA-write-content{
	width : 690px;
	height: 230px;
	border : 0px solid black;
	border : 1px solid #dadada;
	margin-top : 20px;
	margin-left : 20px;
}

.QnA-write-form > form > select[name="qnaType"]{
	width : 120px;
	height: 40px;
	padding : 5px;
}

.QnA-write-form > form > .QnA-write-content > p{
	width : 60px;
	border: 0px solid black;
	margin-left : 600px;
	margin-top : 5px;
}

.QnA-write-form > form > .QnA-write-content > .QnA-write-content1{
	resize: none;
	width : 650px;
	height: 170px;
	margin : auto;
	margin-left : 10px;
	margin-top : 15px;
}

.QnA-write-form > form > input[type="submit"]{
	width : 150px;
	height: 50px;
	border :0;
	border-radius: 25px;
	background-color: #ffbc0d;
	margin-left : 560px;
	color : white;
	font-size: 20px;
	margin-top : 20px;
}
.QnA-write-backBtn{
	width : 100px;
	height: 50px;
	border : 0px solid black;
	position: absolute;
	margin-top: -50px;
	margin-left: 25px;
}

.QnA-write-backBtn > a > .QnA-write-backBtn1{
	border : 0;
	width: 100px;
	height: 50px;
	background-color: #ffbc0d;
	border-radius: 25px;
	margin-bottom: 35px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
#searchNews {
	width: 50px;
    height: 50px;
    margin-left: 8px;
    overflow: hidden;
    text-indent: -9999px;
}
.board-searchIcon {
	margin-top: 2px;
	margin-left: 10px;
	position: absolute;
}

.detail-img {
	width: inherit;
	height: auto;
	margin : 20px auto;
	overflow-x: hidden;
}
.board-searchIcon {
	margin-top: 2px;
	margin-left: 10px;
	position: absolute;
}

/* 2022-01-25 추가 */
.QnA-content-inner{
	display: flex;
	width : 1200px;
	border : 0px solid black;
	margin : auto;
	border-bottom : 1px solid #292929;
	max-height: 60px;
	cursor: pointer;
	
/* 	border-top: 1px solid #292929; */
}
.QnA-content-inner > div{
	background-color:  #f8f8f8;
}
.QnA-content-inner > .QnA-inner-result{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	border-bottom: 1px solid #e0e0e0;
}
.QnA-content-inner > .QnA-inner-title{
	width : 600px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	border-bottom: 1px solid #e0e0e0;
}
.QnA-content-inner > .QnA-inner-writer{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	border-bottom: 1px solid #e0e0e0;
}
.QnA-content-inner > .QnA-inner-regDate{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	border-bottom: 1px solid #e0e0e0;
}

/* 성훈 01-24 추가 */
.btn-list{
	width : 1200px;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
}

#newsModify {
	width: 75px;
	height: 45px;
	font-weight: bold;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
	background-color: #ffbc0d;
	font-size: 14px;
	margin: 0 5px;
}

#newsDelete {
	width: 75px;
	height: 45px;
	font-weight: bold;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
	background-color: #264a36;
	font-size: 14px;
	margin: 0 5px;
}

.QnA-answer{
	max-height: 60px;
	border : 1px solid black;
}

/* 2022--01-30 추가  */
 .answer {
 	display: none;
 	padding-bottom: 30px;
 }
 
 .question{
 	font-size: 15px;
 	padding: 30px 0;
 	cursor: pointer;
 	border : none;
 	outline: none;
 	background: #f8f8f8;
 	width : 100%;
 	text-align: center;
 }
 [id$="-toggle"]{
	 margin-right : 15px;
}

/* 2022-01-31  추가 */
.detail-question{
	width : 1200px;
	border : 0px solid black;
	margin : auto;
}
.reply-detail{
	width : 1200px;
	margin : auto;
	border : 0px solid black;
	border-radius: 25px;
}
.reply-detail > .replt-title{
	width : 1200px;
	display: flex;
	justify-content: space-between;
	border-bottom:  0px solid #dadada;
	margin-bottom: 20px;	
	padding-bottom: 20px;
	padding : 15px;
	font-weight: bold;
	font-size: 20px;
}
/* .reply-detail > .replt-title > div{ */
/* 	width : 90px; */
/* 	height : 50px; */
/* 	border : 0px solid black; */
/* 	background-color: #ffbc0d; */
/* 	font-weight: bold; */
/* 	color : white; */
/* 	border-radius: 35px; */
/* 	padding: 10px; */
/* 	text-align: center; */
/* } */
.reply-detail > .reply-inner{
	width : 1200px;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #dadada;
}
.que-detail-btn{
	width : 180px;
	border : 0px solid black;
	margin : auto;
	margin-top : 30px;
	margin-bottom: 50px;
}
.que-detail-btn > a > .news-list-btn{
	width : 150px;
	height: 70px;
	border : 0;
	background-color: #ffbc0d;
	border-radius: 35px;
	font-size: 20px;
	font-weight: bold;
	color : white;
	border : 0px solid black;
	cursor: pointer;
}
.modal1{
    width : 100%;
    position: absolute;
    top : 0;
    left : 0;
    height: 100%;
    margin : auto;
}

.overlay1{
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.8);
     z-index: 1;
}
.modal-content1{
     width: 1000px;
     height : 400px;
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;
/*      box-shadow: 3px 3px 2px grey; */
/*      border-radius: 10px; */
     margin: auto;
     margin-top: 60px;
/*      border : 1px solid black; */
/*      background-color: white; */
     position : relative;
     z-index: 6;
}
.modal-content1 > .qna-title{
	width : 200px;
	height : 50px;
	padding : 10px;
	background-color: white;
	border-radius: 20px;
}
.modal-content1 > form > textarea{
	resize: none;
	border-radius: 25px;
	padding: 10px;
}
.modal-content1 > form > p > input[type="submit"]{
	width : 80px;
	height: 30px;
	border : 0;
	background-color: #ffbc0d;
	color : white;
}